---
import Hr from "./Hr.astro";
import { SITE } from "@/config";
---

<header>
  <div class="mx-auto flex max-w-app items-center justify-center p-4 sm:py-6">
    <a
      href="/"
      class="py-1 text-xl leading-8 font-semibold whitespace-nowrap sm:text-2xl sm:leading-none"
    >
      {SITE.title}
    </a>
  </div>
  <Hr />
</header>
